/* Start of Header */
.header-1 {
  background-color: var(--light);
}
.header-1.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
/* Start of Top Nav */
@media (min-width: 992px) {
  .top-nav {
    border-bottom: 1px solid var(--grey-dark);
  }
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 575px) {
  .top-nav .container {
    gap: calc(var(--spacing) * 2);
  }
}
@media (min-width: 576px) {
  .top-nav .container {
    gap: calc(var(--spacing) * 3);
  }
}
.top-nav .nav-link {
  color: var(--main-color);
  padding: 0;
}
.top-nav .nav-link:hover {
  color: var(--main-color);
}
/* Brand Section */
.top-nav .brand-wrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
}
.top-nav .top-nav-toggler {
  padding: 0;
  border: none;
  background-color: transparent;
}
.top-nav .top-nav-toggler > svg {
  width: 1.5rem;
}
@media (max-width: 991px) {
  .top-nav .top-nav-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .top-nav .top-nav-toggler {
    display: none;
  }
}
.top-nav .brand {
  display: flex;
}
.top-nav .brand .brand-image > svg {
  height: 40px;
  width: auto;
}
/* Search Section */
.top-nav .search-form {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .top-nav .search-form.show {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
.top-nav .search-form .search-return {
  color: var(--light);
  background-color: var(--main-color);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .top-nav .search-form .search-return {
    border-radius: 0;
  }
}
@media (min-width: 576px) {
  [dir="ltr"] .top-nav .search-form .search-return {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  [dir="rtl"] .top-nav .search-form .search-return {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.top-nav .search-form:not(.show) .search-return {
  display: none;
}
.top-nav .search-form .search-group {
  display: flex;
  align-items: stretch;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-dark);
  overflow: hidden;
  flex-grow: 1;
}
@media (min-width: 576px) {
  .top-nav .search-form .search-group {
    border-radius: var(--radius);
  }
}
@media (max-width: 767px) {
  .top-nav .search-form:not(.show) .search-group,
  .top-nav .search-form.show .mobile-search {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-nav .search-form .mobile-search {
    display: none;
  }
}
.top-nav .search-form .search-group input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
}
.top-nav .search-form .search-group .clear-field {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
[dir="ltr"] .top-nav .search-form .search-group .clear-field {
  margin-right: 0.75rem;
}
[dir="rtl"] .top-nav .search-form .search-group .clear-field {
  margin-right: 0;
  margin-left: 0.75rem;
}
.top-nav .search-form .search-group .clear-field:not(.show) {
  display: none;
}
.top-nav .search-form .search-group .clear-field svg {
  width: 10px;
  height: 10px;
}
.top-nav .search-form .search-group .search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .search-form .search-group .search-icon:hover {
  color: var(--main-color);
}
/* Options Section */
.top-nav .options {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .top-nav .options {
    gap: var(--spacing);
  }
}
@media (min-width: 576px) {
  .top-nav .options {
    gap: calc(var(--spacing) * 2);
  }
}
.top-nav .login-btn {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  color: var(--main-color);
  font-weight: 500;
}
.top-nav .shopping-cart {
  position: relative;
}
.top-nav .shopping-cart .cart-badge {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  color: var(--light);
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  z-index: 1;
}
[dir="ltr"] .top-nav .shopping-cart .cart-badge {
  right: -5px;
}
[dir="rtl"] .top-nav .shopping-cart .cart-badge {
  right: auto;
  left: -5px;
}
.top-nav .shopping-cart svg {
  width: 30px;
  height: 30px;
  color: var(--main-color);
}
.top-nav .change-lang {
  font-weight: 700;
}
/* End of Top Nav */

/* Start of Category Nav */
.category-nav .logo {
  display: flex;
}
.category-nav .logo svg {
  height: 45px;
  width: auto;
}
.category-nav .category-item {
  position: relative;
}
@media (max-width: 991px) {
  .category-nav .category-nav-links {
    max-height: 75vh;
    overflow-y: auto;
  }
  .category-nav .category-item {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
    white-space: nowrap;
    border-bottom: 1px solid var(--main-color);
  }
}
.category-nav .category-link {
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .category-nav.offcanvas {
    visibility: visible !important;
    position: relative;
    flex-direction: row;
    z-index: 110;
  }
  .category-nav.offcanvas-start {
    width: 100%;
    transform: none !important;
    border: none;
  }
  .category-nav .category-dropdown {
    background-color: var(--light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius);
    min-width: 10rem;
    position: absolute;
    top: calc(100% + 1rem);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    max-height: calc(40px * 4 + 1rem);
    overflow-y: auto;
  }
  .category-nav .category-dropdown.collapse:not(.show) {
    display: block;
  }
  .category-nav .category-item:hover > .category-dropdown {
    opacity: 1;
    top: 100%;
    visibility: visible;
    z-index: 10;
  }
  .category-nav .category-link {
    height: 40px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing);
    color: var(--main-color);
    background-color: var(--light);
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-weight: 500;
    width: 100%;
  }
  .category-nav .category-link.active,
  .category-nav .category-link:hover {
    background-color: var(--grey-light);
    border-bottom-color: var(--main-color);
  }
}
@media (max-width: 991px) {
  .category-nav .category-dropdown {
    width: 100%;
  }
}
.category-nav .category-dropdown a {
  color: var(--main-color);
  background-color: var(--grey-light);
  padding: 0.5rem 1rem;
  display: block;
  text-transform: capitalize;
}
.category-nav .category-dropdown a:hover {
  color: var(--light);
  background-color: var(--main-color);
}
.category-nav .mobile-category-toggler {
  flex-grow: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.category-nav .mobile-category-toggler:not(.collapsed) .icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
[dir="ltr"] .category-nav .mobile-category-toggler .icon {
  margin-left: auto;
}
[dir="rtl"] .category-nav .mobile-category-toggler .icon {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 992px) {
  .category-nav .mobile-category-toggler {
    display: none;
  }
}
/* End of Category Nav */
/* End of Header */